<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Restaurant Apps Starter Project</title>
  <link rel="icon" href="./logo.png">
  <link rel="manifest" href="./manifest.json">
  <meta name="theme-color" content="#00000"/>
</head>

<body>
  <header tabindex="-1">
    <section class="skip">
      <a href="#mainContent" tabindex="0">
        Skip
      </a>
    </section>
    <img src="images/heros/logo.png" alt="" />
    <button id="btnHamburger" class="header__menu"><img src="icons/hamburger-white.svg" alt="Navigation Button"></button>
    <nav class="nav" tabindex="-1" id="drawerNav">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="#/like">Favorite</a></li>
        <li><a href="https://github.com/tangkasR">About Us</a></li>
        <li><a href="#/top-rated">Top Rated Restaurant</a></li>
      </ul>
    </nav>
  </header>
  <main>

    <section class="slider" tabindex="-1">
      <div class="slides">
        <input type="radio" name="radio-btn" id="radio1" class="radioBtn" tabindex="-1">
        <input type="radio" name="radio-btn" id="radio2" class="radioBtn" tabindex="-1">
        <input type="radio" name="radio-btn" id="radio3" class="radioBtn" tabindex="-1">
        <input type="radio" name="radio-btn" id="radio4" class="radioBtn" tabindex="-1">
        <div class="slide first">
          <img src="images/heros/hero-image_2.jpg" alt="" />
        </div>
        <div class="slide">
          <img src="images/heros/hero-image_3.jpg" alt="" />
        </div>
        <div class="slide">
          <img src="images/heros/hero-image_4.jpg" alt="" />
        </div>
        <div class="slide">
          <img src="images/heros/hero-image_1.jpg" alt="" />
        </div>
        <div class="navigation-auto">
          <div class="auto-btn1"></div>
          <div class="auto-btn2"></div>
          <div class="auto-btn3"></div>
          <div class="auto-btn4"></div>
        </div>
      </div>
    </section>
    <section class="tag" tabindex="-1">
      <p tabindex="-1">CHOOSE YOUR FAVORITE RESTAURANT</p>
    </section>
    <section class="restoran-content" tabindex="-1" id="restaurantContent">
      <div class="loadingContainer"></div>
      <section class="main-content" id="mainContent">
      </section>
    </section>
  </main>
  <footer tabindex="-1">
    <p tabindex="-1">Copyright &copy 2023 - Dahar Apps </p>
  </footer>
</body>

</html>