$backgrund-color: #F5EFE3;
$font-color: #F7D3BA;
$font-white: white;
$primary-color: #A6AA9C;
$secondary-color: #E6E7E5;
$font-black: black;
$danger-color: red;
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    P{
        word-spacing: 1px;
        letter-spacing: 1px;
        line-height: 24px;
    }
}
body{
    scroll-behavior: smooth;
    display: inline;
    overflow-x: hidden;

}
.skip{
    min-width: fit-content;
    height: 100%;
    z-index: 10;
    position: absolute;
    top: 100px;
    left: 20px;
    background-color: $font-white;
    border-radius: 10px;
    padding: 10px;
    border: 2px $font-black solid;
    border: none;
    opacity: 0;
    a{
        padding: 20px;
        width: fit-content;
        height: 44px;
        font-size: 20px;
        color: $font-black;
        text-decoration: none;
        font-weight: bolder;
        border: none;
    }

    &:focus-within{
        width: fit-content;
        height: fit-content;
        font-size: 20px;
        opacity: 1;
        border: 2px $secondary-color solid;
    }
}
header{
    z-index: 1000;
    position: sticky;
    top: 0;
    padding: 10px 50px;
    background-color: $primary-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-shadow: 0 4px 8px 2px rgba(0,0,0,0.5);
    img{
        flex: 1;
        width: 50px;
        max-width: 50px;
        height: 50px;
        max-height: 50px;
    }
    #btnHamburger {
        width: 60px;
        height: 60px;
        background-color: transparent;
        border: none;
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
        img{
            min-width: 60px;
            min-height: 60px;
        }
    }
    nav{
        z-index: 100;
        flex: auto;
        ul{
            display: flex;
            justify-content: right;
            align-items: center;
            gap: 3rem;
            overflow-x: hidden;

            li{
                min-width: 50px;
                min-height: 50px;
                list-style-type: none;
                display: flex;
                align-items: center;
                justify-content: center;
                a{      
                    text-decoration: none;
                    color: $font-white;
                    font-weight: bolder;
                    min-width: 60px;
                    min-height: 60px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 20px;

                    &:hover{
                        color: $font-color;
                    }
                }
            }
        }
    }
}

main{
    width: 100%;
    height: 100%;
    background-color: $backgrund-color;
    scroll-behavior: smooth;
    padding-bottom: 20px;

    .slider{
        z-index: -100;
        width: 100%;
        max-width: 100%;
        height: 550px;
        overflow: hidden;
        .slides{
            z-index: -100;
            width: 500%;
            height: 550px;
            display: flex;
            input{
                width: 90px;
                height: 90px;
                display: none;
            }
           
            #radio1:checked ~ .first{
                margin-left: 0;
            }
            #radio2:checked ~ .first{
                margin-left: -20%;
            }
            #radio3:checked ~ .first{
                margin-left: -40%;
            }
            #radio4:checked ~ .first{
                margin-left: -60%;
            }
            .slide{
                z-index: 0;

                width: 20%;
                transition: 2s;
                .hero-image{
                    object-fit: cover;
                    min-width: 100%;
                    width: 100%;
                    min-height: 100%;
                    max-height: 550px;
                    height: fit-content;
                    
                }
                .img1{
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-image: url('../public/images/hero-image_2-small.jpg');
                }
                .img2{
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-image: url('../public/images/hero-image_3-small.jpg');
                }
                .img3{
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-image: url('../public/images/hero-image_4-small.jpg');
                }
                .img4{
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-image: url('../public/images/hero-image_1-small.jpg');
                }
            }

            .navigation-auto{
                position: absolute;
                display: flex;
                width: 100%;
                max-width: 100%;
                justify-content: center;
                margin-top: -40px;

                div{
                    border: 2px solid $font-black;
                    padding: 5px;
                    border-radius: 10px;
                    transition: 1s;

                    &:not(:last-child){
                        margin-right: 40px;
                    }
                }
            }
        }
    }

    .tag{
        width: 100%;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 240px;
        padding: 20px;
        z-index: 0;
        p{
            background-color: rgba(0,0,0,0.7);
            padding: 20px;
            font-size: 30px;
            font-weight: bolder;
            color: $font-white;
            text-wrap: wrap;
            text-align: center;
            word-spacing: 10px;
            letter-spacing: 4px;
            line-height: 3.5rem;
        }
    }

    .restoran-content{
        width: 100%;
        max-height: 100%;
        min-height: 100vh;
        text-align: center;
        h1{
            font-size: 35px;
            font-weight: bolder;
            padding-top: 20px;
            z-index: 10;
        }
        .search-container{
            margin: 15px 0;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            padding: 0 40px;
                input{
                    box-shadow: 0 4px 8px 2px rgba(0,0,0,0.5);
                    padding: 0 20px;
                    font-size: 15px;
                    width: 800px;
                    max-width: 100%;
                    min-height: 44px;
                    border-radius: 10px;
                    background: $primary-color;
                    color: $font-white;
                    border: none;
    
                    &:hover, &:focus{
                        background-color: $secondary-color;
                        color: $font-black;
                        border: none;
                    }
                }
                button{
                    min-width: 44px;
                    min-height: 44px;
                    background-image: url("../public/icons/search-before.svg");
                    background-repeat: no-repeat;
                    background-color: transparent;
                    border: none;
                    cursor: pointer;
                }
        }
        .card-container{
            width: 100%;
            display: grid;
            gap: 1rem;
        }
        
        .list-top-rated{
            width: 100%;
            background-color: $secondary-color;
            .container-top-rated{
                padding: 0 50px;
                background-color: $secondary-color;    
                display: flex;
                flex-flow: row;
                align-items: flex-start;
                justify-content: flex-start;
                gap: 1rem;
                .img{
                    flex: 1;
                    height: 100%;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 10px;

                    }
                    p{
                        position: relative;
                        top: 40px;
                        width: fit-content;
                        padding: 8px;
                        color: $font-black;
                        margin: 0;
                        font-size: 15px;
                        font-weight: bold;
                        background-color: $primary-color;
                        z-index: 1;
                        border-radius: 10px 0 0 0;
                    }
                }
                .content-top-rated{
                    flex: 1;
                    width: 100%;
                    max-height: fit-content;
                    text-align: left;
                    padding-top: 32px;
                    p{
                        color: $font-black;
                        margin: 5px 0;
                        text-align: justify;
                        &:nth-child(1){
                            font-size: 15px;
                            font-weight: 600;
                        }
                        &:nth-child(2){
                            font-size: 20px;
                            font-weight: 600;
                        }
                    }
                    a{
                        display: inline-block;
                        text-decoration: none;
                        padding: 15px 0;
                        font-size: 25px;
                        font-weight: bold;
                        color: $font-black;
                        &:hover{
                            color: $primary-color;
                        }
                    }
                }
            }
        }

        .main-content{
            width: 100%;
            .top-rated-title{
                width: 100%;
                padding-top: 60px;
                font-size: 30px;
                font-weight: bolder;
                color: $font-black;
                background-color: $secondary-color;
    
            }

            #MenuAndlikeButtonContainer{
                width: 100%;
                display: flex;
                align-items: flex-start;
                justify-content: space-evenly;
                gap: 3rem;
                padding: 10px 30px;
                .menus-content{
                    flex: 1;
                    box-shadow: 0 2px 8px 2px rgba(0,0,0,0.5);
                    background-color: $secondary-color;
                    border-radius: 10px;
                    h2{
                        padding-top: 20px;
                    }

                }
                #drinksContainer{
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: center;
                    gap: 1.5rem;
                    padding: 20px 5px;
                    p{
                        background-color: $primary-color;
                        padding: 10px;
                        border-radius: 20px 0 20px 0;
                        border: 2px solid $font-black;
                        font-size: 15px;
                        font-weight: 500;
                        color: $font-white;
                        &:focus{
                            border: 6px solid skyblue;  
                        }
                    }
                }
                #foodsContainer{
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: center;
                    gap: 1.5rem;
                    padding: 20px 5px;
                    p{
                        background-color: $primary-color;
                        padding: 10px;
                        border-radius: 0 20px 0 20px;
                        border: 2px solid $font-black;
                        font-size: 15px;
                        font-weight: 500;
                        color: $font-white;
                        &:focus{
                            border: 6px solid skyblue;  
                        }
                    }
                }
                #btnLikeContainer{
                    button{
                        width: 70px;
                        height: 70px;
                    }
                    .like{
                        cursor: pointer;
                        border: 3px $font-black solid;
                        background-color: $font-white;
                        background-position: center;
                        border-radius: 50%;
                        box-shadow: 0 0px 4px 2px rgba(0,0,0,0.5);
                        &:hover{
                            background-color: lightgreen;
                        }
                        &:focus{
                            border: 6px solid black;  
                        }
                    }
                    .liked{
                        cursor: pointer;
                        border: 3px $font-black solid;
                        background-color: $secondary-color;
                        background-position: center;
                        border-radius: 50%;
                        box-shadow: 0 0px 4px 2px rgba(0,0,0,0.5);
                        &:hover{
                            background-color: orangered;
                        }
                        &:focus{
                            border: 6px solid black;  
                        }
                    }
                }
            }
            .wrap-review-content{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                .review-content{
                    margin: 20px;
                    display: flex;
                    flex-flow: column;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    border-right: 2px solid;
                    border-left: 2px solid;
                    border-bottom: 2px solid;
                    background-color: $secondary-color;
                    border-radius: 10px;
                    .head-review-content{
                        width: 100%;
                        background-color: $primary-color;
                        border-top: 2px solid $font-black;
                        border-bottom: 2px solid $font-black;
                        display: flex;
                        flex-flow: column;
                        justify-content: center;
                        align-items: center;
                        border-radius: 10px 10px 0 0;
                        h2{
                            width: fit-content;
                            font-size: 35px;
                            font-weight: bold;
                            color: white;
                            text-align: left;
                            padding: 20px;
                        }
                        .add-review-content{
                            width: 60%;
                            display: flex;
                            flex-flow: column;
                            text-align: left;
                            gap: 1rem;
                            label{
                                font-size: 16px;
                                font-weight: 500;
                                color: $font-white;
                            }
                            input{
                                padding: 15px;
                                border: 2px solid $font-white;
                                border-radius: 10px;
                                background-color: rgba(0,0,0,0.5);
                                color: $font-white;
                                &:hover, &:focus{
                                    border: 2px solid $font-black;
                                    background-color: white;
                                    color: $font-black; 
                                }
                            }
                            button{
                                align-self: flex-end;
                                border: none;
                                background-color: transparent;
                                margin-bottom: 10px;
                                cursor: pointer;
                                width: 53px;
                                height: 53px;
                                background-image: url('../public/icons/add-before.png');
                                background-repeat: no-repeat;
                                &:hover{
                                    background-image: url('../public/icons/add-after.png');
                                }
                            }
                        }

                    }
                    #reviewContainer{
                        padding: 20px;
                        display: grid;
                        grid-template-columns: repeat(3, 1fr);
                        row-gap: 20px;
                        column-gap: 20px;
                        width: 100%;
                        height: 100%;
                        .reviewContent{
                            border: 1px solid black;
                            padding: 10px;
                            text-align: left;
                            p{
                                line-height: 30px;
                                font-weight: 500;
                                color: $font-black;
                            }
                        }
                    }
                }
            }
            #categoryDetail{
                position: absolute;
                top: 720px;
                display: flex;
                right: 0;
                p{
                    font-weight: bolder;
                    color: $primary-color;
                    background-color: $secondary-color;
                    padding: 5px 20px;
                    border-radius: 10px;
                    margin-right: 20px;
                    box-shadow: 0 2px 8px 2px rgba(0,0,0,0.5);
                }
                
            }
            .restaurant_detail{
                h2{
                    margin-top: 30px;
                    font-size: 40px;
                    font-weight: bolder;
                }
                .detailContent{
                    padding: 10px 30px;
                    display: flex;
                    align-items: start;
                    justify-content: start;
                    gap: 1.5rem;
                    .imgDetail{
                        flex: 1;
                        img{
                            width: 100%;
                            border-radius: 10px;
                            box-shadow: 0 2px 8px 2px rgba(0,0,0,0.5);
                        }
                    }
                    .information{
                        flex: 1;
                        display: flex;
                        flex-flow: column;
                        align-items: start;
                        justify-content: start;
                        line-height: 35px;
                        h4{
                            font-size: 20px;
                        }
                        p{
                            text-align: justify;
                            font-size: 15px;
                        }
                    }
                }
            }
        }
    }
}

.loading-indicator {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $backgrund-color;
    .loader {
        width: 200px;
        height: 200px;
        border: 5px solid #FFF;
        border-bottom-color: #FF3D00;
        border-radius: 50%;
        display: inline-block;
        box-sizing: border-box;
        animation: rotation 1s linear infinite;
    }
}
@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} 
.error-message{
    font-weight: 1000;
    font-size: 20px;
    color: $danger-color;
    border-bottom: 2px solid $danger-color;
    padding:8px;
}
footer{
    width: 100%;
    text-align: center;
    padding: 20px;
    background-color: $font-black;
    color: $font-white;
}

@media screen and (min-width: 100px){
    main{
        .restoran-content{
            .card-container{
                grid-template-columns: auto;
                .card{
                    padding: 0;
                    margin: 0 auto;
                    border-radius: 10px 10px 10px 10px;
                    color: $font-white;
                    width: 90%;
                    height: 100%;
                    background-color: $primary-color;
                    text-align: left;
                    box-shadow: 0 4px 8px 2px rgba(0,0,0,0.5);
                    p{
                        margin: 5px 20px;
                    }
                    p:nth-child(1){
                        max-width: fit-content;
                        padding: 8px;
                        color: $font-black;
                        margin: 0;
                        font-size: 15px;
                        font-weight: bold;
                        position: absolute;
                        background-color: $secondary-color;
                        z-index: 1;
                        border-radius: 10px 0 0 0 ;
                    }
                    img{
                        max-width: 100%;
                        width: 400px;
                        height: 300px;
                        object-fit: cover;
                        border-radius: 10px 10px 0 0;
                    }
                    p:nth-child(3){
                        font-size: 15px;
                        font-weight: 600;
                    }
                    p:nth-child(4){
                        margin-bottom: 10px;
                    }
                    a{
                        display: inline-block;
                        text-decoration: none;
                        color: $font-white;
                        font-size:25px;
                        padding: 10px 0;
                        min-height: 45px;
                        min-width: 45px;
                        font-weight: bolder;
                        line-height: 30px;
                        text-wrap: wrap;
                        &:hover{
                            color: $font-black;
                        }
                    }
                }
            }
        }
    }
    
}
@media screen and (min-width: 450px){
    main{
        .restoran-content{
            .card-container{
                grid-template-columns: auto auto;
                .card{
                    width: 200px;
                }
            }
        }
    }
}
@media screen and (min-width: 600px){
    main{
        .restoran-content{
            .card-container{
                grid-template-columns: auto auto;
                .card{
                    width: 280px;
                }
            }
        }
    }
}
@media screen and (min-width: 750px){
    main{
        .restoran-content{
            .card-container{
                grid-template-columns: auto auto auto;
                .card{
                    width: 230px;
                }
            }
        }
    }
}
@media screen and (min-width: 900px){
    main{
        .restoran-content{
            .card-container{
                grid-template-columns: auto auto auto;
                .card{
                    width: 300px;
                }
            }
        }
    }
}
@media screen and (min-width: 1250px){
    main{
        .restoran-content{
            .card-container{
                grid-template-columns: auto auto auto auto;
                .card{
                    width: 300px;
                }
            }
        }
    }
}
@media screen and (max-width: 450px){

    main{
        .restoran-content{
            .main-content{
                .wrap-review-content{
                    .review-content{
                        .head-review-content{
                            flex-flow: column;
                            gap: 0;
                            h2{
                                text-align: center;
                            }
                        }
                        #reviewContainer{
                            grid-template-columns: repeat(1, 1fr);
                        }
                    }
                }
            }
        }

    }
}
@media screen and (max-width: 500px){
    main{
        .restoran-content{
            .list-top-rated{
                h1{
                    font-size: 28px;
                }
            }

            .main-content{
                #categoryDetail{
                    p{
                        font-weight: bolder;
                        font-size: 12px;
                        padding: 5px 10px;
                        border-radius: 10px;
                        margin-right: 20px;
                        box-shadow: 0 2px 8px 2px rgba(0,0,0,0.5);
                    }
                    
                }
            }
        }

    }
}
@media screen and (max-width: 750px) {
    header{
        nav {
            display: none;
            z-index: 1000;
            padding: 30px 40px;
            background-color: rgba(255, 255, 255, 0.863);
            width: fit-content;
            height: fit-content;
            position: absolute;
            top: 75px;
            right: 0px;
            margin: 0;
            border-radius: 20px 0 0 20px;
            transition: transform 0.3s ease;
            transition: all 2s;
            ul{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-flow: column;
                gap: 3rem;
                li{
                    min-width: 60px;
                    min-height: 60px;
                    list-style-type: none;
                    a{ 
                        min-width: 60px;
                        min-height: 60px;
                        padding: 5px;
                        text-decoration: none;
                        color: $font-black;
                        font-size: 20px;
                        font-weight: bolder;
                        display: none;
                    }
                }
            }

            &.open {
                transition: all 2s;
                display: block;
                ul{
                    li{
                        a{ 
                            display: block;
                        }
                    }
                }
            }
        }
    }
    main{
        .restoran-content{
            .main-content{
                #MenuAndlikeButtonContainer{
                    flex-flow: column-reverse;
                    gap: 1.5rem;
                    padding: 30px 30px;
                    #btnLikeContainer{
                        align-self: flex-end;
                    }
                }

                .restaurant_detail{
                    h2{
                        font-size: 23px;
                    }
                }
                .wrap-review-content{
                    .review-content{
                        .head-review-content{
                            .add-review-content{
                                width: 100%;
                                padding:  0 30px;
                            }
                        }
                    }
                }
            }
        }
    }
}
  
@media screen and (min-width: 750px) {
    .header__menu {
        display: none;
        width: 60px;
        height: 60px;
    }
}
@media (min-width: 800px) {
    main{
        .slider{
            .slides{
                .slide{
                    .img1{
                        background-image: url('../public/images/hero-image_2-large.jpg');
                    }
                    .img2{
                        background-image: url('../public/images/hero-image_3-large.jpg');
                    }
                    .img3{
                        background-image: url('../public/images/hero-image_4-large.jpg');
                    }
                    .img4{
                        background-image: url('../public/images/hero-image_1-large.jpg');
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 868px) {
    main{
        .restoran-content{
            .list-top-rated{
                .container-top-rated{
                    flex-flow: column;
                    padding: 20px 0;
                    .img{
                        min-width: 100%;
                        min-height: fit-content;
                        img{
                            min-width: 100%;
                        }
                    }
                    .content-top-rated{
                        width: 100%;
                        max-height: fit-content;
                        text-align: left;
                        p{
                            padding: 0 30px;
                            margin: 10px 0;
                            text-align: justify;
                            &:nth-child(1){
                                font-size: 15px;
                                font-weight: 600;
                            }
                            &:nth-child(2){
                                font-size: 20px;
                                font-weight: 600;
                            }
                        }
                        a{
                            padding: 15px 30px;
                        }
                    }
                }
            }

            .main-content{
                #categoryDetail{
                    top: 1090px;
                    right:20px;
                    width: fit-content;
                }
                .restaurant_detail{
                    .detailContent{
                        flex-flow: column;
                        .imgDetail{
                            img{
                                width: 1000px;
                                max-width: 100%;
                                height: 350px;
                                object-fit: cover;
                            }
                        }
                    }
                }
            }
        }
    }
}